<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped table-hover  border border-3 border shadow">
        <tr class="table table-info border border-dark">
            <td>Name</td>
            <td>place</td>
            <td>Mobilenumber</td>
            <td>Category</td>
            <td>Action</td>
            </tr>
            {%for c in cat%}
    
             {%for s in c.student_set.all%}
            <tr>
            <td>{{s.student_name}}</td>
            <td>{{s.place}}</td>
            <td>{{s.Mobile_number}}</td>
            <td>{{s.category_name}}</td>
             <td><a href="{% url 'student-update' s.id %}">edit</a>
                <a href="{% url 'remove-student' s.id %}">delete</a>
                <a href="{% url 'student-detail' s.id %}">View</a>
                
            </td>
    
    
            </tr>
            {%endfor%}
             {%endfor%}
            </table>
</body>
</html>